@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Work Sans", sans-serif; */
*{
    padding: 0;
    margin: 0;
}
 .btn-container{
    text-align: center;
 }
.btn{
    padding: 10px 14px 10px 14px;
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 10px;
font-weight: 600;
line-height: 14px;
letter-spacing: 0%;
text-align: center;
border-radius: 8px;
background: rgb(82, 195, 3);
border: none;
cursor: pointer;
}
#hero{
    height: 634px;
    background-image: linear-gradient(0deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
}

#hero .hero-content{
    width: 429px;
    
}

#hero .hero-content .subtitle{
color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 15px;
font-weight: 600;
line-height: 34px;
letter-spacing: 0%;
text-align: center;
color: rgb(255, 255, 255);
opacity: 0.8;
margin-bottom: 6px;

}
#hero .hero-content .title{
color: rgb(255, 255, 255);
font-family: Work Sans;
font-size:28 px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 8px;
}
#hero .hero-content .description{
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 10px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
opacity: 0.7;
margin-bottom: 24px;
}

#card-box{
    width: 884px;
    margin: 10px auto;
}

#card-box .title{
color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 24px;
font-weight: 700;
line-height:28px;
letter-spacing: 0%;
text-align: center;
}
#card-box .subtitle{
color: rgb(16, 16, 16);
font-family: Work Sans;
font-size: 15px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
opacity: 0.6;
margin-top: 50px;
}
.card-container{
margin-top: 20px;
display: flex;
justify-content: center;
font-family: Work Sans;

}
.card{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
   justify-content: center;
   align-items: center;
}
.card .image-box{
    width: 200px;
}
.card .image-box img{
    width: 90%;
}
.card .shop{
    border-radius: 8px;
    background: rgba(82, 195, 3, 0.15);
    padding: 8px 16px 8px 16px;

}